[Desktop Entry]
Name=Ricoh LAN-Fax
Comment=Drucker-IP und Telefonbuch für Ricoh LAN-Fax
Exec=/usr/local/bin/ricoh-lanfax settings
Icon=printer
Terminal=false
Type=Application
Categories=Office;Utility;
StartupNotify=true
Keywords=fax;ricoh;lanfax;telefonbuch;
