[Desktop Entry]
Name=Ricoh LAN-Fax
Comment=Linux LAN-Fax popup for Ricoh IM 350F
Exec=/usr/local/share/ricoh-lanfax/start.sh
Path=/usr/local/share/ricoh-lanfax
Icon=printer
Terminal=false
Type=Application
Categories=Office;Utility;
StartupNotify=true
